      </section>
      <footer>
        <p style="margin-bottom: 2em">
          <span>Posts</span><br />
          <a href="/search">Search</a><br />
          <a href="/archives">All posts</a>
        </p>

        <p>
          <span>I'm Chris.</span><br />
          <a href="mailto:cdinger@gmail.com">cdinger@gmail.com</a></br />
          <a rel="me" href="https://mastodon.social/@cdinger">@cdinger</a><br />
          <a href="https://github.com/cdinger">github.com/cdinger</a><br />
        </p>
      </footer>
    </div>
    {% include google_analytics.html %}
  </body>
</html>

