<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <link rel="icon" type="image/svg+xml" href="/images/chip.svg">
    <meta name="theme-color" content="#ffffff">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/houseofding">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><img src="/images/chip.svg" alt="happy chip" /></a>
      </header>
      <section role="main">

